@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif; 
}
body{
    background: linear-gradient(to right, #a3bded, #95b2e3, #86a7da, #789cd0, #6991c7); 
}
/* Side Nav Start */
nav{
    position: fixed; 
    height: 117%;
    background: #ffffff;
    width: 0;
    overflow: hidden;
    transition: all 0.2s linear;
    box-shadow: 0 20px 35px (0,0,0, 0.1);
    z-index: 2;
    width: 0;
    transition: width 0.3s; /* Optional: to animate the width change */
}
/* Open class for navMenu */
nav.open {
    width: 200px;
}
.logo{
    display: flex;
    transition: all 0.5s ease;
    padding: 1.4vw;
    width: 100vw;
    background-color: rgba(23, 108, 255, 0.4); 
}
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 10vw;
}
.logo span{
    font-weight: bold;
    margin-left: 2vw;
    text-align:left;
    margin-top: 15px;
    font-size: 10px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}
.logo span .usertype{
    text-align: justify;
    font-size: 6px;
}
.nav-align{
    margin-top: 3vw;
}
nav a{
    display: flex;
    color: gray;
    width: 300px;
    padding: 10px;
}
.icon{
    width: 30px;
    height: 30px;
    margin-top: 0.7vw; 
}
.nav-item{
    margin-top: 12px;
    font-size: 3vw;
    margin-left: 19px;
}
.nav-align a:hover{
    background-color: aquamarine;
    width: 60vw;
}
/* Side Nav end */
/* Top Nav Start */
.TopNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b3c7e6;
    padding: 0.5vw;
}
.TopNav .nav-icon img {
    height: 20px;
    margin-top: 1vw;
    cursor: pointer;
}
.logoname{
    display: flex;
    position: absolute;
    left: 10vw;
    margin-top: 1vw;
}
.logoname img{
    width: 40px;
    height: 40px;   
     /*  */
     cursor: default;
     pointer-events: none;
     /*  */    
}
.logoname span{
    margin-top: 10px;
    margin-left: 1px;
    font-size: 15px;
    font-weight: 600;
    font-style: oblique;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
     /*  */
     cursor: default;
     pointer-events: none;
     /*  */    
}
.Selection{
    display: flex;
    position: absolute;
    list-style-type: none;
    right: 6vw;
    margin-top: 1px;
}
.Selection li a{
    position: relative;
    font-size: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    margin-left: 5vw;
    text-transform: uppercase;  
}
.Selection li a:after{
    position: absolute;
    content: '';
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: rgb(0, 0, 0);
    transform: scaleX(0);
    transition: transform .5s;
}
.Selection li a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
/* Nav End */

.Search{
    position: absolute;
    top: 7%;
    right: 5%;
    margin-bottom: 1vw;
    z-index: -1;
}
.Search .Search_btn{
    height: 20px;
    width: 15vw;
    outline: none;
    color: #fff;
    border: none;
    font-size: 10px;
    font-weight: 500;
    border-radius: 2px;
    letter-spacing: 1px;
    background-color: gray;
    cursor: pointer;
}
.Search .Search_Input{
    height: 20px;
    width: 30vw;
    font-size: 10px;
}

.PaymentSelection{
    position: absolute;
    left: 2%;
    top: 7.5%;
    /* margin-bottom: 1vw; */
    font-size: 2px;
    z-index: -1;
}
.PaymentSelection select{
    height: 20px;
    width: 100%;
    font-size: 10px;
}
.box{
    position: absolute;
    top: 12%;
    left:2%;
    max-width: 93%;
    height: auto;
    width: 100%;
    border-radius: 0.2vw;
    padding: 30px;
    background-color: #d9e8ff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    z-index: -1;
}
.box .title {
    position: relative;
    font-size: 15px;
    top: -20px;
    font-weight: 500;
    cursor:default;
    pointer-events: none;
    user-select: none;
}
.box .title::before{
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(108,228,125,1) 0%, rgba(8,26,144,1) 100%);
}
.box .table-container {
    overflow-x: auto; 
    max-width: 100%
    
}
.box .Table {
    width: max-content; 
    margin-top: 2px;
}

.box .Table th,
.box .Table td {
    border: 1px solid black;
    padding: 0.6vw;
    text-align: center;
    font-size: 12px;
    
}
.box .Table th{
    background-color: gray;
    color: aliceblue;
}
tr td a{
    outline: none;
    color: #fff;
    border: none;
    padding: 0.4vw;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    /* background-color: gray; */
}
tr td .Show {
      background-color: gray;
        
}
tr td .accept{
    background-color: rgb(47, 205, 47);
}
tr td .decline{
    background-color: rgb(206, 60, 43);
}
tr td .accept:hover{
    background-color:  rgb(36, 165, 36);;

}
tr td .decline:hover{
    background-color: rgb(182, 54, 39);
}
.Show_Popup{
    position: absolute;
    top: 12%;
    left:2%;
    justify-content: center;
    align-items: center;
    display: flex;  
}
.Show_Popup .add_form{
    height: 500px;  /* or whatever height you desire */
    width: 95vw;
    background-color: #d9e8ff;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
}
.Show_Popup .add_form .Iconclose img{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    z-index: 1;
}
.Show_Popup .add_form .title_Review{
    position: relative;
    margin-top: 1vw;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    font-size: 20px;
    font-weight: bold;       
}
.Show_Popup .add_form .title_Review::before{
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(108,228,125,1) 0%, rgba(8,26,144,1) 100%);
}

.package_profile{
    margin-top: 1vw;
    display: block;
}
.imagePreview {
    position: relative;
    margin-left: 1vw;
    width: 40%;
    height: 35vw;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.imagePreview:hover .arrow {
    display: block; /* Show arrows on hover */
}

.imagePreview .slides {
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: 100%;      /* Ensures slides container takes full width of .imagePreview */
    height: 100%;     /* Ensures slides container takes full height of .imagePreview */
}

.imagePreview .slide {
    flex: 0 0 100%;    /* Ensures each slide takes full width of .slides container */
    height: 100%;      /* Ensures each slide takes full height of .slides container */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none; 
}

.imagePreview .slide.active { 
    display: block;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
}

.arrow.left {
    left: 5px;
}

.arrow.right {
    right: 5px;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.PackageInfo{
    /* position: absolute;
    left: 20vw; */
    font-size: 12px;
}
.PackageInfo .desc1{
    font-size: 15px;
    font-weight: 500;
    position: relative;
    margin-top: 5px;
    margin-bottom: -5px;
}
.PackageInfo .desc1::before{
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width:100%;
    background: black;
}
.PackageInfo p{
    padding-bottom: 0.5vw;
}
.PaymentMethod{
    /* position: absolute;
    left: 50vw; */
    font-size: 12px;
}

.PaymentMethod .desc1{
    font-size: 15px;
    font-weight: 500;
    position: relative;
    margin-top: 5px;
    margin-bottom: -5px;
}
.PaymentMethod .desc1::before{
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: black;
}
.PaymentMethod p{
    padding-bottom: 0.5vw;
}

.Personal_Info{
    font-size: 12px;
}
.Personal_Info p{
    padding-bottom: 0.5vw;
}
.Personal_Info .desc2{
    font-size: 15px;
    font-weight: 500;
    position: relative;
    margin-top: 5px;
    margin-bottom: -5px;
}
.Personal_Info .desc2::before{
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: black;
}

.Review_button{
    height: 30px;
    margin-top: 30px;
    text-align: center;
}

.Review_button span{
    font-size: 2vw;
}
.Review_button input{
    height: 100%;
    width: 40%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 3vw;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}

.Review_button #Accept{
    background-color: rgb(64, 189, 97);
}
.Review_button #Accept:hover{
    background-color: rgb(12, 105, 18);
}

.Review_button #Decline{
    background-color:red;
}
.Review_button #Decline:hover{
    background-color: rgb(198, 1, 1);
}

/* asd */

.button{
    height: 2.5vw;
    text-align: center;
    cursor: pointer;
}


.Price_Popup{
    position: absolute;
    top: 12%;
    left:2%;
    justify-content: center;
    align-items: center;
    display: none;
}
.Price_Popup .price_form{
    height: auto;  /* or whatever height you desire */
    width: 93vw;
    background-color: #d9e8ff !important;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
}
.Price_Popup .price_form .IconclosePayment img{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    z-index: 1;
}
.Price_Popup .price_form .title_price{
    position: relative;
    margin-top: 1vw;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    font-size: 20px;
    font-weight: bold;     
}
.Price_Popup .price_form .title_price::before{
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(108,228,125,1) 0%, rgba(8,26,144,1) 100%);
}

.Price_Popup .price_form .input-box{
    padding-top: 2vw;
    margin: 0vw 1vw 0 1vw;
  
}
.Price_Popup .price_form .input-box .details{
    display: block;
    font-size: 14px;
    margin-bottom: 0.5vw;
}
.Price_Popup .price_form .input-box input{
    height: 30px;
    width: 100%;
    outline: none;
    border-radius: 0.5vw;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 12px;
    border-bottom-width: 3px;
    transition: all 0.3s ease;
}
.Price_Popup .price_form .input-box input:focus,
.Price_Popup .price_form .input-box input:valid{
    border-color: gray;
}
.Price_Popup .price_form .button{
    height: 30px;
    margin: 3vw 0;
    text-align: center;
    cursor: pointer;
}
.Price_Popup .price_form #submit{
    height: 30px;
    width: 20%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background-color: gray;
    cursor: pointer;
}

.Decline_Popup{
    position: absolute;
    top: 12%;
    left:2%;
    justify-content: center;
    align-items: center;
    display: none;
}
.Decline_Popup .Decline_case{
    height: 150px;  /* or whatever height you desire */
    width: 93vw;
    background-color: #d9e8ff !important;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 10px;
    /* backdrop-filter: blur(50px); */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
}
.Decline_Popup .Decline_case .title_Decline{
    position: relative;
    margin-top: .4vw;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    font-size: 15px;
    font-weight: bold;     
}
.Decline_Popup .Decline_case .title_Decline::before{
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(108,228,125,1) 0%, rgba(8,26,144,1) 100%);
}

.descript_Decline{
    position: relative;
    top: 3vw;
    left: 2vw;
    right: 2vw; 
    padding-right: 2vw;
    font-size:4mm;
}
.descript_Decline input{
    height: 37px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 3px;
    transition: all 0.3s ease;
}

.descript_Decline input:focus,
.descript_Decline input:valid{
    border-color: gray;
}

.Decline_btn button{
    padding: .1vw .6vw ;
    font-size: 13px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.Decline_btn .close{
    background-color: #8b8a8caa;
    color: white;
    position:absolute;
    right: 5px;
    bottom: 10px;
    cursor: pointer;
}
.Decline_btn .Decline{
    background-color: #ff0000aa;
    color: white;
    position:absolute;
    right: 50px;
    bottom: 10px;
}
.Decline_btn .close:hover{
    background-color: #8b8a8c;
    color: white;
}
.Decline_btn .Decline:hover{
    background-color: #ff0000;
    color: white;
}
/* Styles for the success pop-up */
.popupsuccess {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s;
    z-index: 999;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.close {
    float: right;
    cursor: pointer;
}

.popup-message {
    font-size: 8px;
    padding: 10px;
}

.popupsuccess.fade-out {
    animation: fadeOut 0.5s;
    opacity: 0;
}

.checkmark-icon {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Tablet */
@media only screen and (min-width: 768px){
/* Nav Start */
    nav{
        width: 0;
        transition: width 0.3s; 
    }
    nav.open {
        width: 30vw;
    }
    .logo{
        padding: 1.4vw;
        width: 100vw;
    }
    .logo img{
        width: 10vw;
        height: 10vw;
    }
    .logo span{
        font-size: 2vw;
    }
    .logo span .usertype{
        text-align: justify;
        font-size: 1vw;
    }
    .nav-align{
        margin-top: 3vw;
    }
    nav a{
        width: 300px;
        padding: 10px;

    }
    .icon{
        width: 30px;
        height: 30px;
        margin-top: 0.7vw;
    
    }
    .nav-item{
        margin-top: 12px;
        font-size: 2vw;
        margin-left: 19px;
    }
    .nav-align a:hover{
        background-color: aquamarine;
        width: 25vw;
    }
    /* Side Nav end */
    /* Top Nav Start */
    .TopNav {
        padding: 0.5vw;
    }
    .TopNav .nav-icon img {
        height: 3vw;
        margin-top: 0.2vw;
    }
    .logoname{
        margin-top: 0.4vw;
    }
    .logoname img{
        width: 5vw;
        height: 5vw;   
    }
    .logoname span{
        font-size: 2vw;
    }
    .Selection{
        position: absolute;
        right: 15vw;
        margin-top: 1px;
    }
    .Selection li a{
        font-size: 1.5vw;
        margin-left: 2vw; 
    }
    /* Nav End */

    .Search{
        position: absolute;
        top:8vw;
    }
    .Search .Search_btn{
        height: 30px;
        width: 100px;
        font-size: 15px;
    }
    .Search .Search_Input{
        height: 30px;
        width: 200px;
        font-size: 15px;
    }

    .PaymentSelection{
        position: absolute;
        left: 2%;
        top:8vw;
    }
    .PaymentSelection select{
        height: 30px;
        width: 250px;
        font-size: 12px;
        cursor: pointer;
    }

    .box{
        position: absolute;
        top:13vw;
        left:2%;
    }
    .box .title {
        font-size: 25px;
    }
    
    .box .Table th,
    .box .Table td {
        font-size: 15px;
        
    }
    .Show_Popup{
        top:13vw;
    }
    .Show_Popup .add_form{
        height: 800px;  /* or whatever height you desire */
        width: 93vw;
        
    }
    .Show_Popup .add_form .Iconclose img{
        width: 40px;
        height: 40px;
    }
    .Show_Popup .add_form .title_Review{
        font-size: 25px;
    }
    .package_profile{
        margin-top: 1vw;
    }
    .PackageInfo{
        font-size: 20px;
    }
    .PackageInfo .desc1{
        font-size: 22px;
        margin-bottom: -20px;
    }
    .PaymentMethod{
        /* position: absolute;
        left: 50vw; */
        font-size: 20px;
        margin-top: 20px;  
    }
    .PaymentMethod .desc1{
        font-size: 22px;
        margin-bottom: -20px;
    }
    .Personal_Info{
         font-size: 20px;
    }
    .Personal_Info p{
        padding-bottom: 0.5vw;
    }
    .Personal_Info .desc2{
        font-size: 22px;
        margin-bottom: -20px;
    }
    .Review_button{
        text-align: center;
        height:30px;
        
    }
    .Review_button span{
        font-size: 2vw;
    }
    .Review_button input{
    height: 120%;
    width: 40%;
    font-size: 2vw;

    }

    .Price_Popup{
        top:13vw;
    }
    .Price_Popup .price_form{
        height: auto;  /* or whatever height you desire */
        width: 93vw;
    }
    .Price_Popup .price_form .IconclosePayment img{
        width: 40px;
        height: 40px;
    }
    .Price_Popup .price_form .title_price{
        font-size: 25px;
    }

    .Price_Popup .price_form .input-box .details{
        display: block;
        font-size: 20px;
        margin-bottom: 0.5vw;
    }
    .Price_Popup .price_form .input-box input{
        height: 40px;
        width: 100%;
        font-size: 20px;
    }
    .Price_Popup .price_form .button{
        height: 30px;
        margin: 3vw 0;
        text-align: center;
    }
    .Price_Popup .price_form #submit{
        height: 40px;
        font-size: 20px;    
    }

    .Decline_Popup{
        top:13vw;
    }
    .Decline_Popup .Decline_case{
        height: 200px;
        width: 93vw;
    }
    .Decline_Popup .Decline_case .title_Decline{
        font-size: 25px;
        font-weight: bold;     
    }
    .descript_Decline{
        position: relative;
        top: 3vw;
        left: 2vw;
        right: 2vw; 
        font-size: 5mm;
    }

    .Decline_btn button{
        font-size: 15px;
        border-radius: 5px;
    }
    .Decline_btn .close{
        right: 5px;
        bottom: 10px;
    }
    .Decline_btn .Decline{
        right: 60px;
        bottom: 10px;
    }
    /* success pop up */
    .popup-message {
        font-size: 18px;
        padding: 10px;
    }
    
}
/* Desktop */
@media only screen and (min-width: 1000px){
    nav{
        width: 0;
        transition: 0.3s; 
    }
    nav.open {
        width: 20vw;
    }
    .logo{
        padding: 1.4vw;
        width: 100vw;
    }
    .logo img{
        width: 5vw;
        height: 5vw;
    }
    .logo span{
        font-size: 1.2vw;
    }
    .logo span .usertype{
        text-align: justify;
        font-size: 0.8vw;
    }
    .nav-align{
        margin-top: 3vw;
    }
    nav a{
        width: 300px;
        padding: 10px;
    
    }
    .icon{
        width: 30px;
        height: 30px;
        margin-top: 0.7vw;
       
    }
    .nav-item{
        margin-top: 12px;
        font-size: 1.2vw;
        margin-left: 19px;
    }
    .nav-align a:hover{
        background-color: aquamarine;
        width: 25vw;
    }
    /* Side Nav end */
    /* Top Nav Start */
    .TopNav {
        padding: 0.2vw;
    }
    .TopNav .nav-icon img {
        height: 2vw;
        margin-top: 0.2vw;
        margin-left: 1vw;
    }
    .logoname{
        margin-top: 0.1vw;
    }
    .logoname img{
        width: 3vw;
        height: 3vw;   
    }
    .logoname span{
        font-size: 1.4vw;
    }
    .Selection{
        position: absolute;
        right: 6vw;
        margin-top: 1px;
    }
    .Selection li a{
        font-size: 1vw;
        margin-left: 2vw; 
    }
    /* Nav End */

    .Search{
        position: absolute;
        top:6vw;
    }
    .Search .Search_btn{
        height: 30px;
        width: 100px;
        font-size: 15px;
    }
    .Search .Search_Input{
        height: 30px;
        width: 260px;
        font-size: 15px;
    }
    .PaymentSelection{
        position: absolute;
        left: 2%;
        top:6vw;
    }
    .PaymentSelection select{
        height: 30px;
        width: 300px;
        font-size:15px;
    }
    .box{
        position: absolute;
        top:9.5vw;
        left:2%;
    }
    .box .title {
        font-size: 2vw;
    }
    .box .table-container {
        max-width: 100%;  
    }
    
    .box .Table {      
        max-width: 100%;    
    }
        
    .box .Table th,
    .box .Table td {
        border: 1px solid black;
        padding: 0.6vw;
        text-align: center;
        font-size: 0.8vw;
    }

    .Show_Popup{
        position: absolute;
        top: 4vw;
        left: 8vw;
    }
    .Show_Popup .add_form{
        height: 45vw;
        width: 80vw;
        
        overflow: hidden;
        overflow-y: none;
    }
    .Show_Popup .add_form .Iconclose img{
        position: absolute;
        top: 0;
        right: 0;
        width: 3vw;
        height: 3vw;
        z-index: 1;
    }
    .Show_Popup .add_form .title_Review{
        position: relative;
        margin-top: 1vw;
        font-size: 1.6vw;  
    }
    .Show_Popup .add_form .title_Review::before{
        height: 3px;
    }
    
    .package_profile{
        margin-top: 1vw;
        display: flex;
    }
    .imagePreview {
        width: 15vw;
        height: 15vw;
    }
    
    .imagePreview .slides {
        display: flex;
        transition: transform 0.3s ease-in-out;
        width: 150px;      /* Matches the parent's width */
    }
    
    .imagePreview .slide {
        flex: 0 0 15vw; /* Matches the parent's width */
        height: 15vw;
    }
    
    .imagePreview .slide.active { 
        display: block;
    }
    
    
    .PackageInfo{
        position: absolute;
        left: 20vw;
        right: auto;
        font-size: 1.1vw;
    }
    .PackageInfo .desc1{
        font-size: 1.6vw;
        font-weight: 500;
        position: relative;
    }
    .PackageInfo .desc1::before{
        content: '';
        position: absolute;
        height: 3px;
        left: 0;
        bottom: 0;
        width: 105%;
        background: black;
    }
    .PackageInfo p{
        padding-bottom: 0.5vw;
    }
    
    .PaymentMethod{
        position: absolute;
        top: 2.9vw;
        left: 50vw;
        right: auto;
        font-size: 1.1vw;
    }
    .PaymentMethod .desc1{
        font-size: 1.6vw;
        font-weight: 500;
        position: relative;
    }
    .PaymentMethod .desc1::before{
        height: 2.5px;
    }
    .PaymentMethod p{
        padding-bottom: 0.5vw;
    }

    .Personal_Info .desc2{
        font-weight: 500;
        position: relative;
    }
    .Personal_Info .desc2::before{
        content: '';
        position: absolute;
        height: 3px;
        left: 0;
        bottom: 0;
        width: 50%;
        background: black;
    }
    .Personal_Info{
        font-size: 1.1vw;
   }
   .Personal_Info p{
       padding-bottom: 0.5vw;
   }
   .Personal_Info .desc2{
    font-size: 1.6vw;
    margin-bottom: -20px;
   }

   .Review_button{
    text-align: center;
    height:30px;
    margin-top: 4px;
    }

    .Review_button span{
        font-size: 1vw;
    }
    .Review_button input{
    height: 120%;
    width: 20%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 1.2vw;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background-color: gray;
    }

   /* asd */
    .button{
        height: 2.5vw;
        /* margin: 10vw 0; */
        text-align: center;
    
    }

    .Price_Popup{
        position: absolute;
        top: 8vw;
        left: 25vw;
        justify-content: center;
        align-items: center;

    }
    .Price_Popup .price_form{
        height: auto;
        width: 50vw;
        background-color: aliceblue;
        border: 2px solid rgba(255, 255, 255, .5);
        border-radius: 20px;
        backdrop-filter: blur(50px);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
        position: relative;
        overflow: hidden;
    }
    .Price_Popup .price_form .IconclosePayment img{
        position: absolute;
        top: 0;
        right: 0;
        width: 3vw;
        height: 3vw;
        z-index: 1;
    }
    .Price_Popup .price_form .title_price{
        position: relative;
        margin-top: 1vw;
        margin-left: 0.3vw;
        margin-right: 0.3vw;
        font-size: 1.6vw;
        font-weight: 500;     
    }
    .Price_Popup .price_form .title_price::before{
        content: '';
        position: absolute;
        height: 3px;
        left: 0;
        bottom: 0;
        width: 100%;
        background: linear-gradient(90deg, rgba(108,228,125,1) 0%, rgba(8,26,144,1) 100%);
    }
    
    .Price_Popup .price_form .input-box{
        padding-top: 2vw;
        margin: 0vw 1vw 0 1vw;
      
    }
    .Price_Popup .price_form .input-box .details{
        display: block;
        font-size: 1.2vw;
        margin-bottom: 0.5vw;
    }
    .Price_Popup .price_form .input-box input{
        height: 3vw;
        width: 100%;
        outline: none;
        border-radius: 0.5vw;
        border: 1px solid #ccc;
        padding-left: 15px;
        font-size: 1vw;
        border-bottom-width: 3px;
        transition: all 0.3s ease;
    }
    .Price_Popup .price_form .input-box input:focus,
    .Price_Popup .price_form .input-box input:valid{
        border-color: gray;
    }
    .Price_Popup .price_form .button{
        height: 2.5vw;
        margin: 3vw 0;
        text-align: center;
    }
    .Price_Popup .price_form #submit{
        height: 100%;
        width: 20%;
        outline: none;
        color: #fff;
        border: none;
        font-size: 1vw;
        font-weight: 500;
        border-radius: 5px;
        letter-spacing: 1px;
        background-color: gray;
        
    }
    
    .Decline_Popup{
        position: absolute;
        top: 12vw;
        left: 20vw;
    }
    .Decline_Popup .Decline_case{
        height: 15vw;
        width: 50vw;
        border-radius: 10px;

    }

    .Decline_Popup .Decline_case .title_Decline{
        position: relative;
        margin-top: .4vw;
        margin-left: 0.3vw;
        margin-right: 0.3vw;
        font-size: 2vw;
        font-weight: 500;     
    }
    .Decline_Popup .Decline_case .title_Decline::before{
        content: '';
        position: absolute;
        height: 3px;
        left: 0;
        bottom: 0;
        width: 100%;
        background: linear-gradient(90deg, rgba(108,228,125,1) 0%, rgba(8,26,144,1) 100%);
    }
    .descript_Decline{
        position: absolute;
        top: 5vw;
        left: 2vw;
        right: 2vw;
        font-size: 1.5vw;
    }
    .descript_Decline input{
        height: 50px;
        width: 100%;
        outline: none;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding-left: 15px;
        font-size: 16px;
        border-bottom-width: 3px;
        transition: all 0.3s ease;
    }
    
    .Decline_btn button{
        font-size: 20px;
        border-radius: 5px;
    }
    .Decline_btn .close{
        right: 5px;
        bottom: 10px;
    }
    .Decline_btn .Decline{
        right: 90px;
        bottom: 10px;
    }
}